@import url('./variables.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply m-0 h-[100vh] overflow-hidden;
}
#root {
  @apply h-full;
}
.drap-window {
  user-select: none;
  app-region: drag;
}

.no-drap {
  app-region: no-drag;
}
